<div style="background-color:silver;border:2px solid #000; margin:20px">



    <h3>Grand Child Component</h3>

    <p>Game Name: @GameName</p>

    @code {
        [CascadingParameter]
        public string GameName { get; set; }
    }






   </div>



