<div style="background-color:lightskyblue;border:2px solid #000; margin:20px">


    @page "/parent"

<h3>Parent Component</h3>

<CascadingValue Value="GameName">
    <ChildComponent />
</CascadingValue>

@code {
    private string GameName = "FIFA EA SPRTS";
}







</div>





